@{
    ViewData["Title"] = "Benal!";
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="text-center">
    <img src="~/imgs/notrespassing.jpg" />
</div>
